<form ng-submit="add()">
<div class="row collapse">
  <div class="small-3 large-2 columns">
    <span class="prefix">Title:</span>
  </div>
  <div class="small-9 large-10 columns">
    <input ng-model="reaction.title" type="text" />
  </div>
</div>

<div class="row collapse">
  <div class="small-3 large-2 columns">
    <span class="prefix">URL:</span>
  </div>
  <div class="small-9 large-10 columns">
    <input ng-model="reaction.sourceUrl" type="text" />
  </div>
</div>


<div class="row collapse">
  <div class="small-3 large-2 columns">
    <span class="prefix">#Tags:</span>
  </div>
  <div class="small-9 large-10 columns">
    <input ng-model="reaction.tags" type="text" />
  </div>
</div>

  <hr />

  <button class="radius button">Submit Reaction</button>

  <span class="error" ng-show="err">{{ errMessage }}</span>
</form>
