<div ng-repeat="image in images" class="row panel panel-spacing">
  <div class="medium-12 columns">
    <blockquote ng-if="image.user.objectId === userId"
      ng-keypress="contentEditable($event, image)" contenteditable="true">
      {{ image.title }}
    </blockquote>
   
    <blockquote ng-if="image.user.objectId !== userId">
      {{ image.title }}
    </blockquote>
    <img ng-src="{{ image.sourceUrl }}" />
    <div if-ng="image.tags"> 
      <a ng-repeat="tag in image.tags" 
        href="#/tags/{{tag}}" class="tags">{{ tag }}</a>
    </div>
    <h6 class="subheader uploader">{{ image.user.username }}</h6>
    <div ng-if="image.user.objectId === userId"
      ng-click="remove(image.objectId, $index)" class="label alert">
      Delete
    </div>
  </div>
</div>

<div class="pagination-centered">
  <h4>Page</h4>
  <ul class="pagination">
    <li ng-repeat="p in pageCount">
      <a href="#/view/{{p}}">{{ p }}</a>
    </li>
  </ul>
</div>
