<div ng-repeat="image in images" class="row panel panel-spacing">
  <div class="medium-12 columns">
    <blockquote ng-if="image.user.objectId === userId"
      ng-keypress="contentEditable($event, image)" contenteditable="true">
      {{ image.title }}
    </blockquote>
   
    <blockquote ng-if="image.user.objectId !== userId">
      {{ image.title }}
    </blockquote>
    <img ng-src="{{ image.sourceUrl }}" />
    <h6 class="subheader uploader">{{ image.user.username }}</h6>
    <div ng-if="image.user.objectId === userId"
      ng-click="remove(image.objectId)" class="label alert">
      Delete
    </div>
  </div>
</div>


<div>
  Page   of {{ pages }}
</div>
